.slide1,
.slide3,
.slide2,
.slide4 {
  width: 100vw;
  height: 100vh;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  line-height: 8px;
  color: #000;
  opacity: 1;
  background: rgba(255, 255, 255, 0.6);
}

.swiper-pagination-bullet-active {
  background: #5d6dbe;
  opacity: 0.8;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #fff;
  opacity: 0.6;
  height: 30px;
  width: 30px;
  border-radius: 30px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1rem;
  font-weight: bolder;
  color: #5d6dbe;
}
